@import "tailwindcss";
@import "tw-animate-css";

/* styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@600&family=Roboto:wght@400&family=Roboto+Slab:wght@700&family=Lato:wght@400&family=Roboto+Condensed:wght@700&display=swap");

html {
  font-family: "Roboto", sans-serif; /* Default font for all elements */
}

body {
  font-family: "Roboto", sans-serif; /* Ensures body text uses default font */
}

/* Optionally specify font for specific elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; /* Heading fonts */
}

h2 {
  font-family: "Poppins", sans-serif; /* For subheadings */
}

button,
a {
  font-family: "Lato", sans-serif; /* For buttons and links */
}
